<?xml version="1.0" encoding="UTF-8"?>
<con:interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config" xsi:type="con:WsdlInterface" id="96ce87e4-9717-4489-bc99-28e342d33ee2" wsaVersion="NONE" name="blzServiceSoapBinding" type="wsdl" bindingName="{http://www.springframework.org/schema/beans}blzServiceSoapBinding" soapVersion="1_1" anonymous="optional" definition="http://localhost:8080/services/blzService?wsdl">
  <con:settings>
    <con:setting id="96ce87e4-9717-4489-bc99-28e342d33ee2fileName">blzServiceSoapBinding</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart="http://localhost:8080/services/blzService?wsdl">
    <con:part>
      <con:url>http://localhost:8080/services/blzService?wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="blzService" targetNamespace="http://www.springframework.org/schema/beans" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.springframework.org/schema/beans" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://thomas-bayer.com/blz/">
  <wsdl:import location="http://localhost:8080/services/blzService?wsdl=BLZServicePortType.wsdl" namespace="http://thomas-bayer.com/blz/"></wsdl:import>
  <wsdl:binding name="blzServiceSoapBinding" type="ns1:BLZServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBank">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBank">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBankResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="blzService">
    <wsdl:port binding="tns:blzServiceSoapBinding" name="$Proxy87Port">
      <soap:address location="http://localhost:8080/services/blzService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
    <con:part>
      <con:url>http://localhost:8080/services/blzService?wsdl=BLZServicePortType.wsdl</con:url>
      <con:content><![CDATA[<wsdl:definitions name="BLZServicePortType" targetNamespace="http://thomas-bayer.com/blz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://thomas-bayer.com/blz/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://thomas-bayer.com/blz/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://thomas-bayer.com/blz/">
      <xs:element name="getBank" type="tns:getBankType"/>
      <xs:element name="getBankResponse" type="tns:getBankResponseType"/>
      <xs:complexType name="getBankType">
        <xs:sequence>
          <xs:element name="blz" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBankResponseType">
        <xs:sequence>
          <xs:element name="details" type="tns:detailsType"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="detailsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="bezeichnung" type="xs:string"/>
          <xs:element minOccurs="0" name="bic" type="xs:string"/>
          <xs:element minOccurs="0" name="ort" type="xs:string"/>
          <xs:element minOccurs="0" name="plz" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getBank">
    <wsdl:part element="ns1:getBank" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBankResponse">
    <wsdl:part element="ns1:getBankResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BLZServicePortType">
    <wsdl:operation name="getBank">
      <wsdl:input message="ns1:getBank" name="getBank"></wsdl:input>
      <wsdl:output message="ns1:getBankResponse" name="getBankResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>]]></con:content>
      <con:type>http://schemas.xmlsoap.org/wsdl/</con:type>
    </con:part>
  </con:definitionCache>
  <con:endpoints>
    <con:endpoint>http://localhost:8080/services/blzService</con:endpoint>
  </con:endpoints>
</con:interface>
